<html style="background-color:#292929">

<head>
<meta charset="UTF-8">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../js/SP_data.js"></script>
<script src="../js/getAjax.js"></script>

<script src="../js/sales_graph.js"></script>
<link rel="stylesheet" href="../css/font_size_each.css">
<link rel="stylesheet" href="../css/left_menu.css">
<link rel="stylesheet" href="../css/common.css">
<script src="../js/timer.js"></script> 
<script>
//OVERRIDE
var chart = function(){
		this.on_id = "chart_id"; //#chart_id에 그린다.
		this.on_head_id = "chart_name";
		
		this.sort = "A272";
		
		this.graphHead_left = menuWidth+15+leftSpace;	
		this.graphHead_top = 15;
		this.graphHead_title = "TOYOTA 영업 목표";
		this.graphHead_subTitle = "1월달 전일자 누적  ";

		this.graphHead_title_left = "M/S";
		this.graphHead_title_right = "금액(백 만원)";
		
		this.dataTable = td;
		
		//graph 설정======================================
		this.width = $(window).width()*(9/10)-leftSpace-30;
		this.height = $(window).height()-30;
		this.left = leftSpace + menuWidth;
		this.top = 0;
		this.margin = 15;
		this.lineWidth = 5; //선의 굵기

		this.barWidth = "30%";
		this.legendFontSize = 20;
		this.barMax = 400;

		this.lineMax = 80;
		this.series = {
				0 : { targetAxisIndex : 1, },
				1 : { targetAxisIndex : 1, },
				2 : { targetAxisIndex : 0, type : 'line', },
				3 : { targetAxisIndex : 0, type : 'line', },
			},
		this.chartArea = {						
				left : "4%",
				top : "15%",
				width : "91%",
				height : "70%",			
			}
		//================================================
	}

</script>

<script>
//왼쪽 메뉴바 셋팅
$(document).ready(function(){
	setAllElement();   
    $(window).resize(function(){    	
    	menuWidth = $(window).width()/10;      	
    	if(testing){
    		//테스트용=====================================
    		google.charts.setOnLoadCallback(function(){drawCharts(new chart)});
    		//google.charts.setOnLoadCallback(function(){drawCharts(new chart2)});
    		//============================================		
    	}
    	else{
    		//실제 데이터용==================================
    		getSalesWithAjax(new chart);
    		//getSalesWithAjax(new chart2);
    		//=============================================
    	}	
    	setAllElement();   	    	
    });
});

$(function(){	
	nextPage = "SP_Both_Whole_Lexus";	
	//LLineWidth = 5;	
	//$("#chart_name").css("margin-top",header_name_margin_top);
	$("#menuToyota").css("background-color","#cccccc");
	$("#menuToyota").css("color","#111111");
	$("#menuToyota").css("font-weight","bold");
	
	if(testing){
		//테스트용=====================================
		google.charts.setOnLoadCallback(function(){drawCharts(new chart)});
		//============================================		
	}
	else{
		//실제 데이터용==================================
		getSalesWithAjax(new chart);
		//=============================================
	}
});


</script>
 
</head>
<body>

<div id="chart_id"></div>
<div id="chart_name" class="chart_name"></div>


<div id="menuBar">
	<img id="logo"  style="width:100%; "src="../img/financial.png"/>
	
	<div style="height:50px;"></div>
	<img id="timerPlay" src="../img/play.png"/>
	<img id="timerStop" src="../img/pause.png"/>
	
	<div style="text-align:right; color:white; font-size:20px; margin:5px;">1 Min</div>
	

	<div style="height:10%;"></div>
	<div style="text-align:right; color:white;" class="chart_name_ss">Sales Performance Report.</div>
	<div style="height:2%;"></div>
	<div style="height:13%;" id="menus"></div>

	<div style="height:10%;"></div>
	
	<div id="logo3" class="chart_name_ss"></div>
</div>


<img style="position:fixed; " id="newLoading" src="../img/support-loading.gif"/>



</body>
</html>