<html style="background-color:#292929">

<head>
<meta charset="UTF-8">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../js/SP_data.js"></script>
<script src="../js/getAjax.js"></script>
<script src="../js/sales_graph_lexus.js"></script>
<script src="../js/sales_graph_toyota.js"></script>

<link rel="stylesheet" href="../css/matrix_lexus.css">
<link rel="stylesheet" href="../css/matrix_toyota.css">
<link rel="stylesheet" href="../css/font_size2.css">
<link rel="stylesheet" href="../css/common.css">
<script src="../js/timer.js"></script> 

<script>
//OVERRIDE
var TGraphX = $(window).width()*(9/10)-leftSpace; 
var TGraphY = $(window).height()-5;

$(function(){	
	nextPage = "SP_Both";	
	TLineWidth = 5; //선 굵기
	
	$("#chart_name2").css("margin-top",header_name_margin_top);
	
	$("#menuToyota").css("background-color","#cccccc");
	$("#menuToyota").css("color","#111111");

	$("#menuToyota").css("font-weight","bold");

	
	//테스트용=====================================
	//google.charts.setOnLoadCallback(drawChart);
	google.charts.setOnLoadCallback(drawChart2);
	//============================================
		
	//실제 데이터용==================================
	//getSalesWithAjaxLexus();
	//getSalesWithAjaxToyota();
	//=============================================
});


</script>
 
</head>
<body>

<div id="chart_id"></div>
<div id="chart_name" class="chart_name"></div>

<div id="chart_id2"></div>
<div id="chart_name2" class="chart_name"></div>


<div id="menuBar">
	<img id="logo"  style="width:100%; "src="../img/financial.png"/>
	
	<div style="height:50px;"></div>
	<img id="timerPlay" src="../img/play.png"/>
	<img id="timerStop" src="../img/pause.png"/>
	
	<div style="text-align:right; color:white; font-size:20px; margin:5px;">1 Min</div>
	
	<!-- 
	<div id="pageMove" style="width:100%; margin:auto;margin-top:20px; height:8%">
		<img id="arrow_l"  style="width:32%; float:left;" src="../img/arrow_l.png" onclick="location.href='SP_Toyota.html'"/>
		<img id="arrow_r"  style="width:32%; float:right;"src="../img/arrow_r.png" onclick="location.href='SP_Lexus.html'"/>
	</div>
	 -->
	
	<div style="height:13%; margin-top:130px;" id="menus"></div>
	
	
	<div style="height:10%;"></div>
	<div style="text-align:right; color:white;" class="chart_name_ss">Sales Performance Report.</div>
	
	<div id="logo3" class="char_name_ss"></div>
</div>


<img style="position:fixed; " id="newLoading" src="../img/support-loading.gif"/>



</body>
</html>