@media only screen and (min-width: 600px) {
	*{ font-size: 10; }
	#chart_name{ font-size: 13; }
	#chart_name2{ font-size: 13; }
	#logo3{ font-size: 6; }
}
@media only screen and (min-width: 1000px) {
	*{ font-size: 14; }
	#chart_name{ font-size: 17; }
	#chart_name2{ font-size: 17; }
	#logo3{ font-size: 11; }
}
@media only screen and (min-width: 1800px) {
	*{ font-size: 17; }
	#chart_name{ font-size: 21; }
	#chart_name2{ font-size: 21; }
	#logo3{ font-size: 13; }
}
@media only screen and (min-width: 3000px) {
	*{ font-size: 21; }
	#chart_name{ font-size: 24; }
	#chart_name2{ font-size: 24; }
	#logo3{ font-size: 17; }
}