@media only screen and (min-width: 0px) { /*width이 1000이상부터는.*/
	#menuBar{ display : none; }
}
@media only screen and (min-width: 1200px) { /*width이 1000이상부터는.*/
	#menuBar{ display : block; }
	
}

*{
    font-family: Arial;
    line-height: normal;
}

#chart_id{
	position:absolute; 
}
#chart_name{
	position:absolute; 	
	top:0px; 
	color:white; 
	text-align:center; 
	text-size:10px;	
}


#chart_id2{
	position:absolute; 
	left:0px; 
	bottom:0px;
}
#chart_name2{
	position:absolute; 	
	top:0px; 
	color:white; 
	text-align:center; 
	text-size:10px;
	
}
html{
	margin:0px; 
	position: relative; 
	top:0px; 
	left:0px; 
	width:100%; 
	height:100%; 
	overflow:hidden;
	
}
body{
	margin:0px; 
	position: relative; 
	top:0px; 
	left:0px; 
	min-width:100%; 
	min-height:100%; 
	overflow:hidden;
	
}

#menuBar{
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


	border-right:2px solid #eeeeee;
	padding:4px;
	border-style: double;
	box-shadow: 5px 5px 5px #454545;

}


#logo3{
	position:absolute; 
	color: white; 
	text-align:right; 
	left: 0px; 
	bottom:10px; 
	
}

#middleLine{	
	display :none;
	position:fixed;
	width:100%;
	border: 1px solid white; 
	box-shadow: 1px 1px 1px #eeeeee; 
	border-style: groove;
}

.menuButton{
	border-bottom : 1px solid white;
	/*background: #363636;*/
	color:white;
	text-align:right;	
	height:25%;
	width:101%;
	margin-left:-5%;
	padding-right:5%;
	font-style: italic;
	/*font-weight: bold;*/
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	box-shadow: 0px 1px 1px #eeeeee; 
	line-height: 35px;
}
.menuTab{
	border-bottom : 1px solid white;
	/*background: #363636;*/
	color:white;
	text-align:center;	
	height:20%;
	width:101%;
	margin-left:-5%;
	padding-right:5%;
	font-style: italic;
	box-shadow: 0px 1px 1px #eeeeee; 
	line-height: 35px;
}




.menuButton:hover{
	background: #cccccc;
	color:#111111;		
	font-weight: bold;
}
.menuButton:active{
	background: #cccccc;
	color:#111111;	
	font-weight: bold;
}
.promotionMenu{
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	
}

.promotionButton{
	border-bottom : 1px solid white;
	/*background: #363636;*/
	color:white;
	text-align:left;	
	height:10%;
	width:101%;
	padding-left:5%;
	/*font-style: italic;*/
	/*font-weight: bold;*/
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	box-shadow: 0px 1px 1px #eeeeee; 
	line-height: 35px;
}
.promotionButton h3{
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */	
	
}
.promotionButton:hover{
	background: #cccccc;
	color:#111111;		
	font-weight: bold;
}
.promotionButton:active{
	background: #cccccc;
	color:#111111;	
	font-weight: bold;
}














html body .container tbody td { color:white; }    
html body .container tbody tr:nth-child(2n) { background-color:#363636; }
html body .container tbody tr:hover { background-color:#aaaaaa; color:black; }     
html body .container tbody tr:hover td h4{ color:black; }
html body .container tbody tr:hover td h5{ color:black; }
  
html body .container table thead tr th h5{ text-align:center; } 
html body .container table tbody tr td h5{ text-align:center; }     

html body hr { margin-top: 20px; margin-bottom: 20px;  }
html body .container h1 { color:white; }
html body .container h2 { color:white; }
html body .container h3 { color:white; }
html body .container h4 { color:white; font-weight: normal; margin-top: 5px; margin-bottom:5px; text-align:left; }
html body .container h5 { color:white; font-weight: normal; margin-top: 3px; margin-bottom:3px; text-align:left;  }

html body .container span { color:white; }
    



