*{
    font-family: Arial;
}

#chart_id{
	position:absolute; 
}
#chart_name{
	position:absolute; 	
	top:0px; 
	color:white; 
	text-align:center; 
	text-size:10px;	
}


#chart_id2{
	position:absolute; 
	left:0px; 
	bottom:0px;
}
#chart_name2{
	position:absolute; 	
	top:0px; 
	color:white; 
	text-align:center; 
	text-size:10px;
	
}
body{
	margin:0px; 
	position: absolute; 
	top:0px; 
	left:0px; 
	width:100%; 
	height:100%; 
	overflow:hidden;
	
}

#menuBar{
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	border-right:2px solid #eeeeee;
	padding:4px;
	border-style: double;
	box-shadow: 5px 5px 5px #454545;

}


#logo3{
	position:absolute; 
	color: white; 
	text-align:right; 
	left: 0px; 
	bottom:10px; 
	
}

#middleLine{	
	display :none;
	position:fixed;
	width:100%;
	border: 1px solid white; 
	box-shadow: 1px 1px 1px #eeeeee; 
	border-style: groove;
}

.menuButton{
	border-bottom : 1px solid white;
	/*background: #363636;*/
	color:white;
	text-align:right;	
	height:25%;
	width:101%;
	margin-left:-5%;
	padding-right:5%;
	font-style: italic;
	/*font-weight: bold;*/
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */	
	box-shadow: 0px 1px 1px #eeeeee; 
	line-height: 35px;
}
.menuButton:hover{
	background: #cccccc;
	color:#111111;		
	font-weight: bold;
}
.menuButton:active{
	background: #cccccc;
	color:#111111;	
	font-weight: bold;
}



