@media only screen and (min-width: 600px) {
	*{ font-size: 12; }
	.chart_name_s{ font-size: 20; }
	.chart_name{ font-size: 20; }
	
}
@media only screen and (min-width: 1000px) {
	*{ font-size: 19; }	
	.chart_name_s{ font-size: 22; font-weight: bold;  }
	.chart_name{ font-size: 36; }
	
	
	.chart_name_sub{ font-size: 18; font-weight: normal; }

	/*datum의 font-size*/
	div#chart_id2 div div div svg g:last-child g g text{ font-size:16px; }
	div#chart_id div div div svg g:last-child g g text{ font-size:16px; }
	
}

}
@media only screen and (min-width: 1800px) {
	*{ font-size: 22; }
	.chart_name_s{ font-size: 30; font-weight: bold;  }
	.chart_name{ font-size: 45; }
	
	.chart_name_sub{ font-size: 25; font-weight: normal; }
	
	/*datum의 font-size*/
	div#chart_id2 div div div svg g:last-child g g text{ font-size:19px; }
	div#chart_id div div div svg g:last-child g g text{ font-size:19px; }

}
/*
@media only screen and (min-width: 3000px) {
	*{ font-size: 44; }
	.chart_name_s{ font-size: 20; }
	.chart_name{ font-size: 40; }
	#logo3{ font-size: 35; }
}
@media only screen and (min-width: 5000px) {
	*{ font-size: 35; }
	.chart_name_s{ font-size: 20; }
	.chart_name{ font-size: 55; }
	#logo3{ font-size: 45; }
}
*/
