

#matrix_id td{
	 border : 1px solid #D9E8F7;
	 padding : 0px;
	 color: #D9E8F7;
	 text-align: center;
}
#matrix_id{

	border : 3px solid #D9E8F7;
	border-style: double;
	border-collapse: collapse; 
	position:absolute; 

	box-shadow: 5px 5px 5px #121212;
}

#matrix_id tr:nth-child(2n){
	background: #4E2800;
}
#matrix_id tr:nth-child(2n-1){
	background: #603A00;
}




